<section class="house-1">
    <div class="container">
        <svg width="768" height="860" viewBox="0 0 768 860" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="bild-project-1">
                <path id="floor-1" d="M542.5 844H225.5V727.5H542.5V844Z" stroke="black"/>
                <path id="floor-2" d="M543.5 717H225.5V600H543.5V717Z" stroke="black"/>
                <path id="floor-3" d="M543.5 593H224.5V476H543.5V593Z" stroke="black"/>
                <path id="floor-4" d="M543.5 467H225.5V348H543.5V467Z" stroke="black"/>
                <path id="floor-5" d="M542 340H225.5V223H542V340Z" stroke="black"/>
                <path id="floor-6" d="M543.5 218H224.5V96.5H543.5V218Z" stroke="black"/>
                <path id="floor-7" d="M507.5 92.5H259.5V68H507.5V92.5Z" stroke="black"/>
            </g>
            <image id="image0_211_10" data-name="image 370.png" width="768" height="860" xlink:href="assets/img/house-1.png"/>
        </svg>         
    </div>
</section>